<div class="jumbotron container mt-3">
    <h3>Hasta luego {{deslogueoName}}</h3>
    <script>
       setTimeout(()=>{
            window.location.pathname = '/'
        }, 2000);
    </script>
</div>